@import "compass/css3/border-radius";

/*
 * Media query mixin
 */

$uk-mini-max-width: 479px;
$uk-small-max-width: 767px;
$uk-medium-max-width: 959px;
$uk-large-max-width: 1199px;

@mixin phone-portrait {
  @media screen and (max-width: $uk-mini-max-width) {
    @content;
  }
}

@mixin phone-landscape {
  @media screen and (min-width: $uk-mini-max-width + 1) and (max-width: $uk-small-max-width) {
    @content;
  }
}

@mixin tablet-portrait {
  @media screen and (min-width: $uk-small-max-width + 1) and (max-width: $uk-medium-max-width) {
    @content;
  }
}

@mixin desktop-and-tablet-landscape {
  @media screen and (min-width: $uk-medium-max-width + 1) and (max-width: $uk-large-max-width) {
    @content;
  }
}

@mixin large-desktop {
  @media screen and (min-width: $uk-large-max-width + 1) {
    @content;
  }
}

//------------------------------------------------------------------------------

@mixin mini-screen {
  @media screen and (max-width: $uk-mini-max-width) {
    @content;
  }
}

@mixin small-screen {
  @media screen and (max-width: $uk-small-max-width) {
    @content;
  }
}

@mixin medium-screen {
  @media screen and (max-width: $uk-medium-max-width) {
    @content;
  }
}

@mixin large-screen {
  @media screen and (max-width: $uk-large-max-width) {
    @content;
  }
}

/*
 * Global
 */

$text-font-size: 18px;
$text-font-size-mobile: 16px;

$accent-color: #e09d45;
$background-color: #FFFFFF;
$header-background-color: #FFFFFF;
$header-text-color: #5E5E5E;
$highlight-color: #F9E0B8;
$link-color: #3c87c5;
$footer-text-color: #7397be;
$text-color: #4c453a;
$text-light-color: #645b4f;
$text-extra-light-color: #7c8080;
$page-title-color: $header-text-color;

body {
  background-color: $background-color;
  font-family: 'Open Sans', sans-serif;
  font-size: $text-font-size;

  overflow-wrap: break-word;
  word-wrap: break-word;

  p, li {
    line-height: $text-font-size * 1.8;
    margin-bottom: $text-font-size * 0.8;
    color: $text-color;
  }

  @include mini-screen {
    font-size: $text-font-size-mobile;
    p, li {
      line-height: $text-font-size-mobile * 1.8;
      margin-bottom: $text-font-size-mobile * 0.8;
      color: $text-color;
    }
  }

  a {
    color: $link-color;
  }
  a:hover {
    color: $link-color;
  }
  ::selection {
    background: $highlight-color;
    color: $text-color;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    color: $page-title-color;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  em {
    color: $text-color;
  }

  $button-color-normal: #6a6868;

  button {
    color: $button-color-normal;
    background: $background-color;

    a {
      color: $button-color-normal;
      text-decoration: none;
    }
  }
}

/*
 * Header
 */

$header-circle-dimen: 90px;
$header-title-font-size: 28px;
$header-subtitle-font-size: 20px;

.header {
  background-color: $header-background-color;
  padding: 20px 0 20px 0;

  .title {
    font-size: $header-title-font-size;
    a {
      color: $header-text-color;
    }
  }

  .subtitle {
    color: $text-extra-light-color;
    font-size: $header-subtitle-font-size;
  }

  .circular-image {
    height: $header-circle-dimen;
    width: $header-circle-dimen;
    @include border-radius($header-circle-dimen / 2);
    background-image: url(/images/profile-pic-small.jpg);
    background-size: $header-circle-dimen $header-circle-dimen;
    float: right;

    @include small-screen {
      float: none;
      width: $header-circle-dimen;
      margin: 0 auto;
    }
  }
}

/*
 * Navigation
 */

.navbar {
  background-color: #fff4e5;
  border-top: 1px solid $accent-color;
  border-bottom: 1px solid $link-color;

  a {
    color: $link-color;
  }

  a.selected {
    color: $accent-color;
  }

  a:hover {
    color: $accent-color;
  }
}

/*
 * Page
 */

.page-base {
  img {
    margin: 20px auto 20px auto;
    display: block;
    width: 90%;

    @include small-screen {
      width: 100%;
    }
  }
}

/*
 * Blog Archive
 */

.archive-page {
  @extend .page-base;

  text-align: center;

  .year {
    color: $accent-color;
  }

  .month {
    color: $text-light-color;
  }

  .day {
    float: right;
    margin-right: 10px;
    color: $text-extra-light-color;
  }

  .month-article-list {
    text-align: left;
    font-size: 20px;
    line-height: 26px;
    width: 80%;
    margin: 0 auto;
    @include small-screen {
      width: 100%;
    }
  }
}

/*
 * Article
 */

$article-title-color: #706E71;

.article-base {
  @extend .page-base;

  .title {
    color: $article-title-color;
  }

  .date {
    text-align: center;
    font-size: 18px;
    color: $text-extra-light-color;
  }

  .text {
    padding-top: 30px;
  }

  .caption {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    color: #A4A1A1;
  }
}

.article-preview {
  @extend .article-base;

  .title {
    a {
      color: $article-title-color;
    }
  }

  .continue {
    padding-top: $text-font-size;
    font-size: $text-font-size;
  }

  img {
    max-width: 600px;
  }
}

.article-full {
  @extend .article-base;

  h2, h3, h4, h5, h6 {
    text-align: left;
  }

  img:not(.hero) {
    max-width: 600px;
  }
}

/*
 * Portfolio page
 */

.portfolio {
  h2 {
    padding-top: 30px;
    margin-bottom: 30px;
  }

  .project {
    margin-bottom: 28px;

    .icon {
      img {
        float: right;
      }
    }
    .title {
      color: $text-color;
      font-size: 22px;
      line-height: 24px;
    }
    .description {
      color: $text-light-color;
      font-size: $text-font-size;
      line-height: 28px;
      margin-top: 12px;
    }
  }

  .section {
    .title {
      text-align: center;
    }
    .description {
      text-align: center;
    }
  }
}

/*
 * Markdown page
 */

.markdown-page {
  @extend .page-base;

  h1 {
    border-bottom: 0 !important;
  }
}

/*
 * About page
 */

.about {
  img.profile-image {
   @include border-radius(10px);
   max-width: 250px;
  }
}

/*
 * Tag
 */

/*
 * 404
 */

.error {
  text-align: center;
  color: $text-color;
}


/*
 * Footer
 */

.footer {
  padding-top: 60px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 22px;
  color: $footer-text-color;
  text-align: center;
}

/* Additional vertical padding used by kbd tag. */

.py-05 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.markdown {
  color: #1a202c;
  line-height: 1.5;
  overflow-wrap: break-word;
}

.markdown > * + * {
  margin-top: 0;
  margin-bottom: 1rem;
}

.markdown li + li {
  margin-top: 0.25rem;
}

.markdown li > p + p {
  margin-top: 1.5rem;
}

.markdown strong {
  font-weight: 600;
}

.markdown a {
  color: #3182ce;
  font-weight: 600;
}

.markdown strong a {
  font-weight: 700;
}

.markdown h1 {
  line-height: 1.25;
  border-bottom-width: 1px;
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.markdown h2 {
  line-height: 1.25;
  border-bottom-width: 1px;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.markdown h3 {
  line-height: 1.375;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.markdown h4 {
  line-height: 1;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.markdown h5 {
  line-height: 1.25;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.markdown h6 {
  line-height: 1.25;
  font-size: 0.875rem;
  font-weight: 600;
  color: #718096;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.markdown blockquote {
  font-size: 1.125rem;
  border-left-width: 4px;
  border-color: #e2e8f0;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #718096;
  margin-bottom: 1rem;
}

.markdown code {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.875rem;
  display: inline;
  background-color: #edf2f7;
  border-radius: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.markdown pre {
  background-color: #f7fafc;
  border-radius: 0.25rem;
  padding: 1rem;
}

.markdown pre code {
  display: block;
  background-color: transparent;
  padding: 0;
  overflow: visible;
  border-radius: 0;
}

.markdown ul {
  font-size: 1.1rem;
  padding-left: 2rem;
  list-style-type: disc;
}

.markdown ol {
  font-size: 1.1rem;
  padding-left: 2rem;
  list-style-type: decimal;
}

.markdown kbd {
  font-size: 0.75rem;
  display: inline-block;
  border-radius: 0.25rem;
  border-width: 1px;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  vertical-align: middle;
  font-weight: 400;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.markdown table {
  font-size: 1rem;
  border-color: #718096;
}

.markdown th {
  border-width: 1px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.markdown td {
  border-width: 1px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

/* Override pygments style background color. */

.markdown .highlight pre {
  background-color: #f7fafc !important;
}