@import "compass/css3/border-radius";

/*
 * Global
 */

 $text-font-size: 20px;
 $background-color: #F6F6F6;

 body {
   background-color: $background-color;
   p {
     font-size: $text-font-size;
     line-height: $text-font-size * 1.8;
     margin-bottom: $text-font-size * 1.3;
     color: #7D766C;
   }
 }

/*
 * Header
 */

$header-circle-dimen: 90px;
$header-title-font-size: 28px;
$header-subtitle-font-size: 20px;

.header {
  background-color: #EEF2F6;
  padding: 20px 0 20px 0;

  .title {
    padding-top: $header-circle-dimen / 2 - $header-title-font-size;
    font-size: $header-title-font-size;
    a {
      color: #5E5E5E;
    }
  }

  .subtitle {
    color: #909595;
    padding-top: 12px;
    font-size: $header-subtitle-font-size;
  }

  .circular-image {
    height: $header-circle-dimen;
    width: $header-circle-dimen;
    @include border-radius($header-circle-dimen / 2);
    background-color: #dddddd;
    float: right;
  }
}

/*
 * Navigation
 */

$navbar-height: 50px;
$navbar-link-font-size: 20px;

.navbar {
  height: $navbar-height;
  background-color: #E2E9F0;

  a {
    vertical-align: center;
    color: #90A6B9;
    font-size: $navbar-link-font-size;
    padding: 0 30px 0 30px;
  }

  .links {
    text-align: center;
    padding-top: ($navbar-height - $navbar-link-font-size) / 2;
  }
}

/*
 * Blog Articles
 */

 $article-padding-top: 80px;
 $article-title-font-size: 36px;
 $article-title-color: #706E71;

.article-preview {
  padding-top: $article-padding-top;

  .title {
    text-align: center;
    font-size: $article-title-font-size;
    color: $article-title-color;
    a {
      color: $article-title-color;
    }
  }

  .text {
    padding-top: 40px;
  }

  .continue {
    padding-top: $text-font-size;
    font-size: $text-font-size;
    a {
      color: #7DACE4;
    }
  }
}

.article {
  padding-top: $article-padding-top;

  .title {
    text-align: center;
    font-size: $article-title-font-size;
    color: $article-title-color;
  }

  .date {
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    color: #9B9B9B;
  }

  .text {
    margin-top: 30px;
  }

  $button-color-normal: #B4B3B3;
  $button-color-hover: #D7D5D5;

  .tags {
    margin-bottom: 30px;

    button {
      color: $button-color-normal;
      background: $background-color;
      border-color: $button-color-normal;
      a {
        color: $button-color-normal;
        text-decoration: none;
      }
    }

    button:hover {
      @extend button;
      color: $button-color-hover;
      border-color: $button-color-hover;
      a {
        color: $button-color-hover;
      }
    }
  }
}
