@import "compass/css3/border-radius";

/*
 * Media query mixin
 */

$uk-mini-max-width: 479px;
$uk-small-max-width: 767px;
$uk-medium-max-width: 959px;
$uk-large-max-width: 1199px;

@mixin phone-portrait {
  @media screen and (max-width: $uk-mini-max-width) {
    @content;
  }
}

@mixin phone-landscape {
  @media screen and (min-width: $uk-mini-max-width + 1) and (max-width: $uk-small-max-width) {
    @content;
  }
}

@mixin tablet-portrait {
  @media screen and (min-width: $uk-small-max-width + 1) and (max-width: $uk-medium-max-width) {
    @content;
  }
}

@mixin desktop-and-tablet-landscape {
  @media screen and (min-width: $uk-medium-max-width + 1) and (max-width: $uk-large-max-width) {
    @content;
  }
}

@mixin large-desktop {
  @media screen and (min-width: $uk-large-max-width + 1) {
    @content;
  }
}

//------------------------------------------------------------------------------

@mixin mini-screen {
  @media screen and (max-width: $uk-mini-max-width) {
    @content;
  }
}

@mixin small-screen {
  @media screen and (max-width: $uk-small-max-width) {
    @content;
  }
}

@mixin medium-screen {
  @media screen and (max-width: $uk-medium-max-width) {
    @content;
  }
}

@mixin large-screen {
  @media screen and (max-width: $uk-large-max-width) {
    @content;
  }
}

/*
 * Global
 */

 $text-font-size: 20px;
 $background-color: #F6F6F6;

 body {
   background-color: $background-color;
   p {
     font-size: $text-font-size;
     line-height: $text-font-size * 1.8;
     margin-bottom: $text-font-size * 1.3;
     color: #7D766C;
   }
 }

/*
 * Header
 */

$header-circle-dimen: 90px;
$header-title-font-size: 28px;
$header-subtitle-font-size: 20px;

.header {
  background-color: #EEF2F6;
  padding: 20px 0 20px 0;

  .title {
    padding-top: $header-circle-dimen / 2 - $header-title-font-size;
    font-size: $header-title-font-size;
    a {
      color: #5E5E5E;
    }
  }

  .subtitle {
    color: #909595;
    padding-top: 12px;
    font-size: $header-subtitle-font-size;
  }

  .circular-image {
    height: $header-circle-dimen;
    width: $header-circle-dimen;
    @include border-radius($header-circle-dimen / 2);
    background-color: #dddddd;
    float: right;
  }
}

/*
 * Navigation
 */

$navbar-height: 50px;
$navbar-link-font-size: 20px;

.navbar {
  height: $navbar-height;
  background-color: #E2E9F0;

  a {
    vertical-align: center;
    color: #90A6B9;
    font-size: $navbar-link-font-size;
    padding: 0 30px 0 30px;
  }

  .links {
    text-align: center;
    padding-top: ($navbar-height - $navbar-link-font-size) / 2;
  }
}

/*
 * Blog Articles
 */

 $article-padding-top: 80px;
 $article-padding-bottom: 20px;
 $article-title-color: #706E71;

.article-base {
  padding-top: $article-padding-top;
  padding-bottom: $article-padding-bottom;

  .title {
    text-align: center;
    color: $article-title-color;
  }

  .date {
    text-align: center;
    font-size: 18px;
    color: #9B9B9B;
  }

  .text {
    padding-top: 30px;
  }

  img {
    margin: 30px auto 35px auto;
    display: block;
  }
  @include phone-portrait {
    img {
      width: 80%;
    }
  }
  @include phone-landscape {
    img {
      width: 60%;
    }
  }
  @include tablet-portrait {
    img {
      width: 70%;
    }
  }
  @include desktop-and-tablet-landscape {
    img {
      width: 60%;
    }
  }
  @include large-desktop {
    img {
      width: 50%;
    }
  }
}

.article-preview {
  @extend .article-base;

  .title {
    a {
      color: $article-title-color;
    }
  }

  .continue {
    padding-top: $text-font-size;
    font-size: $text-font-size;
    a {
      color: #7DACE4;
    }
  }
}

.article-full {
  @extend .article-base;

  $button-color-normal: #B4B3B3;
  $button-color-hover: #D7D5D5;

  .tags {
    margin-bottom: 30px;

    button {
      color: $button-color-normal;
      background: $background-color;
      border-color: $button-color-normal;
      a {
        color: $button-color-normal;
        text-decoration: none;
      }
    }

    button:hover {
      @extend button;
      color: $button-color-hover;
      border-color: $button-color-hover;
      a {
        color: $button-color-hover;
      }
    }
  }
}


/*
 * Footer
 */

.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 22px;
  color: #8BA5BF;
  text-align: center;
}
