<% wrap_layout :layout do %>
  <div class="article-full">
    <article>
      <h1 class="title"><%= current_article.title %></h1>
      <div class="date"><%= current_article.date.strftime('%b %e, %Y') %></div>

    <div class="text">
      <%= yield %>
    </div>

    </article>
    <div class="tags">
      <% current_article.tags.each do |tag| %>
        <button class="uk-button" type="button"><%= link_to tag %></button>
      <% end %>
    </div>
  </div>
<% end %>
