<div class="footer">
  <div><%= link_to "© 2014 - #{DateTime.now.year} Jonathan Lin", "http://creativecommons.org/licenses/by/4.0/" %></div>
  <div>Made in <%= link_to "KL", "http://en.wikipedia.org/wiki/Kuala_Lumpur" %>. Designed and Handcrafted by Jonathan ES Lin.</div>
</div>
