<div class="footer">
  <div><%= link_to "© 2014 Jonathan Lin", "http://creativecommons.org/licenses/by/4.0/" %></div>
  <div>Made in <%= link_to "KL", "http://en.wikipedia.org/wiki/Kuala_Lumpur" %>. Designed and Handcrafted by Jonathan ES Lin.</div>
  <div class="social-row">
    <a href="https://twitter.com/ernsheong" class="fa fa-twitter social"></a>
    <a href="https://github.com/ernsheong" class="fa fa-github social"></a>
    <a href="https://www.linkedin.com/in/jonlinernsheong" class="fa fa-linkedin social"></a>
  </div>
</div>
