<div class="header uk-grid">
  <div class="uk-width-medium-2-5">
    <a href="/">
      <div class="circular-image"></div>
    </a>
  </div>
  <div class="uk-width-medium-3-5">
    <div class="title"><a href="/">Jonathan ES Lin</a></div>
    <div class="subtitle">Life · Christianity · Code</div>
  </div>
</div>

<nav class="navbar">
   <div class="links">
     <%= link_to "About", "/about", class: current_page.path =~ /about/ ? "selected" : nil %>
     <%= link_to "Portfolio", "/portfolio", class: current_page.path =~ /portfolio/ ? "selected" : nil %>
   </div>
</nav>
