<div class="header uk-grid">
  <div class="uk-width-medium-2-5">
    <div class="circular-image"></div>
  </div>
  <div class="uk-width-medium-3-5">
    <div class="title"><a href="/">Jonathan ES Lin</a></div>
    <div class="subtitle">Life in Malaysia · Christianity · Code</div>
  </div>
</div>

<nav class="navbar">
   <div class="links">
     <a>About</a>
     <a>Portfolio</a>
   </div>
</nav>
