<div class="header flex items-center">
  <a href="/" class="mx-auto flex justify-center items-center block">
    <div class="mr-4">
      <div class="circular-image"></div>
    </div>
    <div class="">
      <div class="title text-center font-bold">Jonathan ES Lin</div>
      <div class="subtitle text-center md:text-left">Life · Tech · Faith</div>
    </div>
  </a>
</div>

<nav class="navbar">
   <div class="links flex items-center justify-center">
     <%= link_to "About", "/about", class: "#{current_page.path =~ /about/ ? "selected" : nil} px-4 py-2 text-xl font-bold" %>
     <%= link_to "Portfolio", "/portfolio", class: "#{current_page.path =~ /portfolio/ ? "selected" : nil} px-4 py-2 text-xl font-bold" %>
   </div>
</nav>
