---
title: Microblog | Jon ES Lin
---

<div class="mb-4 text-lg text-gray-800"><span class="font-bold">DISCLAIMER:</span> All tweets were written by Mr Polar 2.0 while Dr Jon Lin was away. If you are easily offended, please click <a href="/">here</a>. <span class="font-bold">DO NOT FOLLOW on Twitter (you will be removed)</span></div>

<a class="twitter-timeline" href="https://twitter.com/ZXJuc2hlb25n?ref_src=twsrc%5Etfw">Tweets by ZXJuc2hlb25n</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>